.questions_parent {
    margin-top: 150px;
    width: 100%;
    padding: 32px;
    position: relative;
}

.questions {
    background: #E8EEE7;
    padding: 80px 60px 50px 94px;
    border-radius: 40px;
}

.questions>h3 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.2px;
    color: #9E9D9D;
    font-weight: 400;
}
.questions_in{
    width: 100%;
    display: flex;
    align-items: start;
    margin-top: 20px;
}
.questions_left,
.questions_right {
    width: 50%;
}

.questions_left>h4 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -0.1px;
    color: #1C1C1C;
}


.questions_design{
    position: absolute;
    bottom: 0%;
    left: 2%;
}