.accordian_parent {
    margin-top: 20px;
}

.accordian {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 36px;
}

.accordian_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 24px;
}

.accordian_title>h4 {
    user-select: none;
    width: 411px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #1C1C1C;
}

.accordian_para>p{
    cursor: default;
    padding-bottom: 24px;
    color: #617275;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}